<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper  namespace="com.xueyou.ssm.dao.UserDao">
    <!--获取人员 -->
    <select id="userList" statementType="STATEMENT" parameterType="Map" resultType="com.xueyou.ssm.model.User" >
        SELECT ID AS id, LOGINID as loginId,PASSWORD as password,NAME as name,CREATETIME as createTime,BIRTHDAY as birthday,
          SEX as sex,STATUS as status,DUTYID as dutyid,PHONE as phone,EMAIL as email,PHOTO as photo FROM user
          ORDER BY CREATETIME DESC limit ${page},${rows}
    </select>

    <select id="userListCount" statementType="STATEMENT" parameterType="Map" resultType="Map">
        select COUNT(*) as total from user;
    </select>

    <insert id="saveUser" parameterType="com.xueyou.ssm.model.User">
        INSERT INTO user(ID,LOGINID,PASSWORD,NAME,CREATETIME,BIRTHDAY,SEX,STATUS,DUTYID,PHONE,PHOTO,EMAIL)VALUE (
        #{id},#{loginId},#{password},#{name},#{createTime},#{birthday},#{sex},#{status},#{dutyid},#{phone},#{photo},#{email}
        )
    </insert>

    <delete id="deleteUser" parameterType="com.xueyou.ssm.model.User">
        DELETE FROM user WHERE ID = #{id}
    </delete>

    <update id="updateUser" parameterType="com.xueyou.ssm.model.User">
        UPDATE user SET LOGINID = #{loginId}, PASSWORD = #{password},NAME = #{name},CREATETIME = #{createTime},
        BIRTHDAY = #{birthday},SEX = #{sex},STATUS = #{status},DUTYID=#{dutyid},PHONE = #{phone},PHOTO = #{photo},
        EMAIL = #{email} WHERE ID = #{id}
    </update>

    <update id="updateUserPhoto" parameterType="com.xueyou.ssm.model.User">
        UPDATE user SET PHOTO = #{photo} WHERE ID = #{id}
    </update>


    <resultMap id="user2mapper" type="com.xueyou.ssm.model.User2">
        <id property="id" column="ID"/>
        <result property="loginId" column="LOGINID"/>
        <result property="password" column="PASSWORD"/>
        <result property="name" column="NAME"/>
        <result property="createTime" column="CREATETIME"/>
        <result property="birthday" column="BIRTHDAY"/>
        <result property="sex" column="SEX"/>
        <result property="status" column="STATUS"/>
        <result property="dutyid" column="DUTYID"/>
        <result property="phone" column="PHONE"/>
        <result property="email" column="EMAIL"/>
        <result property="photo" column="PHOTO"/>
        <association property="duty" column="DUTYID" select="com.xueyou.ssm.dao.DutyDao.getDutyById"/>
    </resultMap>

    <select id="user2List" statementType="STATEMENT" parameterType="Map" resultMap="user2mapper">
    SELECT id, loginId,password,name,createTime,birthday,
    sex,status,dutyid,phone,email,photo FROM user
    ORDER BY createTime DESC limit ${page},${rows}
    </select>
</mapper>
